.button_li {color:black !important;font-weight:800 !important}
.b-serp-item__links-link {display: none !important}
.b-head {display:none !important}
#kino {width:60%; margin: auto}
#mmain {background-color: black}
#mbody {background-color: black}
body (width: 80%)
title {font-size:2em}
#main {font-size:2em}
#ya-site-form0 {width:60%; margin: auto}

.b-pager {display:none !important}